doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        title=htmlWebpackPlugin.options.title
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(content="width=device-width\, initial-scale=1", name="viewport")
        <!--[if lt IE 9]>
        script(src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js")
        script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
        <![endif]-->
    body
        div#callback-modal.modal.fade(tabindex="-1", role="dialog")
            div.modal-dialog.modal-sm(role="document")
                div.modal-content
                    div.modal-header
                        button.close(type="button", data-dismiss="modal", aria-label="Close")
                            span(aria-hidden="true") &times;
                        h4.modal-title Обратный звонок
                    div.modal-body
                        form(action="#", method="post")
                            .form-group
                                label(for="name") Имя
                                input.form-control(type="text" name="mame")
                            .form-group
                                label(for="pthone") Телефон
                                input.form-control(type="text" name="phone")
                    div.modal-footer
                        botton.btn.btn-primary Заказать звонок
                        button.btn(data-dismiss="modal") Закрыть

        nav.navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="/")
                        img(alt="СиМ", src=require('_svg/logo.svg'))

                .collapse.navbar-collapse#bs-example-navbar-collapse-1
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href="/about.html") О компании
                        li
                            a(href="/partners.html") Партнёры
                        li
                            a(href="/contacts.html") Контакты

        header.index-header
            .container
                .row
                    .col-md-8
                        h1 Продажа и ремонт компьютерной техники

                    .col-md-4
                        .contacts
                            .phone
                                span.fa.fa-phone
                                | &nbsp;+7 (8512) 00-00-00

                            a.callback-ring(href="#callback-modal", data-toggle="modal") Заказать звонок
                            a.email(href="#")
                                span.fa.fa-envelope
                                | &nbsp;csim@mail.ru

        block content-zone
            .container
                .row
                    .col-md-3
                        block left-side
                            section
                                h2.strong Наши услуги
                                ul.services.horisintal 
                                    li
                                        a(href="#")
                                            div.icon
                                                img(src=require('_images/products/product1-thumb.jpg'))
                                            div
                                                | Ремонт компьютероы
                                    li
                                        a(href="#")
                                            div.icon
                                                img(src=require('_images/products/product1-thumb.jpg'))
                                            div
                                                | Ремонт оргтехники
                    .col-md-9
                        block content

        footer
            .container
                .row
                    .col-md-3
                        img(alt="СиМ", src=require('_svg/logo.svg'))
                    .col-md-5
                    .col-md-4
                        .phone
                            span.fa.fa-phone
                            | &nbsp;+7 (8512) 00-00-00
