.advantages {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: -5px;
    padding: 0;

    > li {
        box-sizing: border-box;
        width: 100%;

        > a {
            text-decoration: none;
            margin:  5px;
            // border: 1px solid #000;
            display: flex;
            // align-items: center;

            &:hover {
                .advantages-icon {
                    color: $link-hover-color;
                }

                h3 {
                    color: $link-hover-color;
                }
            }

            > .advantages-icon {
                margin-right: 15px;
            }


            h3 {
                color: $link-color;
                font-size: 20px;
                // font-weight: bold;
                margin-top: 0;
            }

            p{
                color: $text-color;
            }
        }
    }
}

@media (min-width: $screen-sm-min) {
    .advantages {
        flex-direction: row;
        flex-wrap: wrap;

        > li {
            width: 50%;
        }
    }
}