footer {
    background: $navbar-inverse-bg;
    color: #ffffff;
    padding: 20px 0;
    margin-top: 20px;

    .phone {
        font-size: 30px;
        margin:15px 0;
        text-align: right;
    }
}

@media (max-width: $screen-xs-max) {
    footer {
        .phone {
            text-align: center;
            margin:15px 0 0 0;
        }
    }
}