header.index-header{
    color: #ffffff;
    background: url('~_images/header-index.png') no-repeat #000000;
    height: 228px;

    h1 {
        color: #ffffff;
        text-shadow: 1px 1px 2px #000000;
        margin-top: 30px;
    }
    
    .contacts {
        // background: rgba(154, 232, 242, 0.32);
        // background: rgba(44, 71, 62, 0.75);
        // border: 4px solid rgba(24, 47, 48, 0.66);
        // border-radius: 5px;
        text-shadow: 1px 1px 2px #000000;
        text-align: right;
        margin-top: 30px;      

        .phone{
            font-size: 30px;
            font-weight: bold;
        }

        a.callback-ring {
            color: #ffffff;
            border: 1px solid;
            border-radius: 14px;
            padding: 3px 7px;
            background: rgba(0, 0, 0, 0.33);

            text-shadow: 1px 1px 2px #000000;

            &:hover{
                text-decoration: none;
                background: rgba(255, 255, 255, 0.33);
            }
        }

        a.email{
            display: block;
            color: #ffffff;
            margin-top: 30px;
            font-size: 20px;
        }
    }
}

@media (max-width: $screen-xs-max) {
    header.index-header{
        h1{
            text-align: center;
            font-size: 25px;
        }

        .contacts {
            margin-top: 20px;
            text-align: center;

            .phone{
                font-size: 25px;
            }

            a.email{
                margin-top: 20px;
            }
        }
    }
}
