.nav-catalog{
    $bg-color: #289a9f;
    $border: 1px solid $bg-color;
    // background: rgba(243, 245, 245, 0.88);
    // border: $border;
    margin-top: 20px;
    box-shadow:  0 2px 5px rgba(0, 0, 0, 0.5);

    > li {
        // border-bottom: $border;

        & + li{
            margin: 0;
        }

        > a{
            &:hover,
            &:focus {
                background: lighten($bg-color, 50%);
            }
        }

        &:last-child{
            // border-bottom: none;
        }
    }
}
