.partners{
    list-style: none;
    padding: 0;

    > li{
        display: flex;
        margin-bottom: 20px;

        > .logo {
            width: 150px;
            margin-right: 20px;

            > img {
                max-width: 100%;
                height: auto;
                border: 1px solid $link-color;
                border-radius: 5px;
                padding: 5px;
            }
        }

        > .info {
            flex-grow: 1;

            > h2 {
                margin-top: 0;
            }
        }
    }
}