ol.repair-steps {
    list-style: none;
    padding: 0;
    counter-reset: myCounter;

    > li {
        display: flex;
        flex-direction: column;
        // box-shadow:  0 2px 5px rgba(0, 0, 0, 0.5);
        margin: 0 0 20px 0;
        border: 1px solid $link-color;

        &:last-child {
            margin: 0;
        }

        > .marker {
            // color: white;
            color: $link-color;
            // background: $link-color;
            font-size: 100px;
            padding: 20px;

            display: flex;
            align-items: center;

            > img {
                width: 150px;
                height: 150px;
                // border: 1px solid #ffffff;
                border: 1px solid $link-color;
                border-radius: 50%;
            }
        }

        > .content{
            padding: 20px;
            flex-grow: 1;
        }
    }
}

@media (min-width: $screen-sm-min) {
    ol.repair-steps {
        > li {
            flex-direction: row;

            &:nth-child(odd) {
                > .marker {
                    &:before {
                        counter-increment: myCounter;
                        content: counter(myCounter);
                        margin-right: 30px;
                    }
                }
            }

            &:nth-child(even) {
                flex-direction: row-reverse;

                > .marker{
                    &:after {
                        counter-increment: myCounter;
                        content: counter(myCounter);        
                        margin-left: 30px;
                    }
                }
            }
        }
    }
}

@media (max-width: $screen-xs-max) {
    ol.repair-steps {
        > li {
            > .marker {
                justify-content: center;

                &:before {
                    counter-increment: myCounter;
                    content: counter(myCounter);
                    margin-right: 30px;
                }
            }

            > .content{
                padding:  0 20px;
                flex-grow: 0;
                text-align: center;
            }
        }
    }
}
