.services {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: -5px;
    padding: 0;
    
    > li {
        width: 33.33333%;
        display: flex;
        align-items: stretch;
        
        > a{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            margin: 5px;
            border: 1px solid $link-color;
            border-radius: 5px;
            padding: 10px;
            text-align: center;

            &:hover{
                text-decoration: none;
                border: 1px solid $link-hover-color;
            }

            > .icon {
                margin-bottom: 20px;
            }
        }

    }

    &.horisintal {
        flex-direction: column;

        > li {
            width: 100%;
        }
    }
}

// @media (min-width: $screen-sm-min) {
@media (max-width: $screen-xs-max) {
    .services {
        flex-direction: column;

        > li {
            width: 100%;
        }
    }
}