@import "base";
@import "header";
@import "navbar";
@import "advantages";
@import "footer";
@import "nav-catalog";
@import "repair-steps";
@import "partners";
@import "services";


.product-list{
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  > li{
    margin-bottom: 20px;
    flex-basis: 32%;

    > a {
      display: block;
      height: 100%;
      border: 1px solid;
      border-radius: 10px;
      text-align: center;
      align-items: stretch;
      text-decoration: none;
      padding: 20px;

      > img.product-thumb {
        max-width: 100%;
      }

      > .price{
        color: $text-color;
        font-weight: bold;
        font-size: 25px;
      }

      &:hover{
        > h3 {
          color: $link-hover-color;
        }
      }
    }
  }
}
