// Customize variables

$text-color: #1a3e3e;
$link-color: #289a9f;
$headings-color: #289a9f;
// $headings-color: #5091f1;
$link-hover-color: #5091f1;
$navbar-inverse-bg: #1a3e3e;

$navbar-inverse-link-color: #ffffff;
$navbar-inverse-link-hover-color: #58e8f8;
// $navbar-inverse-link-hover-bg
// $navbar-inverse-border

// $navbar-inverse-link-active-color
// $navbar-inverse-link-active-bg

// $navbar-inverse-link-disabled-color
// $navbar-inverse-link-disabled-bg