section
    h2.strong Наши преимущества
    ul.advantages
        li
            a(href="#")
                span.fa.fa-cogs.fa-4x.advantages-icon
                div
                    h3 Ремонт любой сложности
                    p Срок выполнения заказов до 3 дней
        li
            a(href="#")
                span.fa.fa-clock-o.fa-4x.advantages-icon
                div
                    h3 Работаем быстро
                    p Срок выполнения заказов до 3 дней
        li
            a(href="#")
                span.fa.fa-database.fa-4x.advantages-icon
                div
                    h3 Честные цены
                    p Гарантирум Впм честную цену
        li
            a(href="#")
                span.fa.fa-clock-o.fa-4x.advantages-icon
                div
                    h3 Работаем быстро
                    p Срок выполнения заказов до 3 дней