section
    h2.strong Сломался компьютер
    ol.repair-steps
        li
            .marker
                img(src=require('_images/order-call.jpg'))
            .content
                h3 Заявка
                p Оставьте заявку на ремонт или позвоните в call-центр
        li
            .marker
                img(src=require('_images/diagnostika.jpg'))
            .content
                h3 Диагностика
                p Приезжаем в удобное для вас время. Диагностируем технику бесплатно
        li
            .marker
                img(src=require('_images/remont.jpg'))
            .content
                h3 Ремонт без предоплат
                p Озвучим точную стоимость и сроки ремонта. Устраивает? Выполняем ремонт, заключаем договор. Вы получаете официальную гарантию
        li
            .marker
                img(src=require('_images/notebook.jpg'))
            .content
                h3 Готово!
                p Ваша компьютерная техника работает! Оплатите за ремонт удобным способом и заполните лист отзыва