section
    h2.strong Наши услуги
    ul.services
        li
            a(href="#")
                div.icon
                    img(src=require('_images/products/product1-thumb.jpg'))
                div
                    | Ремонт компьютероы
        li
            a(href="#")
                div.icon
                    img(src=require('_images/products/product1-thumb.jpg'))
                div
                    | Ремонт оргтехники
        li
            a(href="#")
                div.icon
                    img(src=require('_images/products/product1-thumb.jpg'))
                div
                    | Установка програмного обеспечения
        li
            a(href="#")
                div.icon
                    img(src=require('_images/products/product1-thumb.jpg'))
                div
                    | Ремонт компьютероы
        li
            a(href="#")
                div.icon
                    img(src=require('_images/products/product1-thumb.jpg'))
                div
                    | Ремонт оргтехники
        li
            a(href="#")
                div.icon
                    img(src=require('_images/products/product1-thumb.jpg'))
                div
                    | Установка програмного обеспечения