extends ../layouts/master.jade

block content-zone
    .container
        .row
            .col-md-12
                h1 Контакты
        .row
            .col-md-8
                script(type="text/javascript", charset="utf-8", async, src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=mymaps%3AN0koX_337mDNpKhu2oX737A10N0gkTfm&amp;width=100%&amp;height=450&amp;lang=ru_RU&amp;scroll=true")
            .col-md-4
                address
                    div
                        span.fa.fa-map-marker
                        | &nbsp;адрес
                    div
                        span.fa.fa-phone
                        | &nbsp;+7 (8512) 00-00-00
                    div
                        span.fa.fa-envelope
                        | &nbsp;
                        a.email(href="#") csim@mail.ru