extends ../layouts/master.jade

block content-zone
    .container
        .row
            .col-md-12
                include ../widgets/advantages.jade
                include ../widgets/services.jade
                include ../widgets/repair-steps.jade