extends ../layouts/master.jade

block content
    h1 Партнёпы
    ul.partners
        li
            div.logo
                img(src=require('_images/partners/1c.png'))
            div.info
                h2 1c
                p описание
                a(href="http://1c.ru") 1c.ru
        li
            div.logo
                img(src=require('_images/partners/kaspersky.png'))
            div.info
                h2 kaspersky
                p описание
                a(href="https://kaspersky.ru") kaspersky.ru